global:
  # https://github.com/helm/helm/issues/8489 workaround
  observe: {}

customLabels: {}

image:
  kube_cluster_info:
    repository: observeinc/kube-cluster-info
    # Overrides the image tag whose default is {{ .Chart.AppVersion }}
    tag: ""
    pullPolicy: Always
  kube_state_events:
    repository: observeinc/kube-state-events
    # Overrides the image tag whose default is {{ .Chart.AppVersion }}
    tag: ""
    pullPolicy: Always

imagePullSecrets: []

rbac:
  create: true

serviceAccount:
  create: true
  annotations: {}
  name:

resources:
  limits:
    cpu: 50m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 256Mi

tolerations: {}

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - {key: observeinc.com/unschedulable, operator: DoesNotExist}
