*.tgz
demo
.kubeconfig
.idea

#terraform
integration/.terraform
.terraform/
*.tfstate*
terraform.tfvars
*.auto.tfvars
tfplan
.terraform.lock.hcl
*_override.tf

#python
venv
__pycache__
.pytest_*

local*
