{{ if .Values.node.forwarder.enabled  -}}
{{- include "observe-agent.validateOtelPodUid" (dict "componentName" "forwarder" "extraEnvs" (index .Values "forwarder" "extraEnvs") "fleetEnabled" .Values.agent.config.global.fleet.enabled) -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: forwarder
  namespace: {{ template "observe-agent.namespace" . }}
data:
  relay: |
      {{- include "observe.daemonset.applyForwarderConfig" . | nindent 4 -}}
{{ end -}}
