{{ if .Values.node.enabled  -}}
{{- include "observe-agent.validateOtelPodUid" (dict "componentName" "node-logs-metrics" "extraEnvs" (index .Values "node-logs-metrics" "extraEnvs") "fleetEnabled" .Values.agent.config.global.fleet.enabled) -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: node-logs-metrics
  namespace: {{ template "observe-agent.namespace" . }}
data:
  relay: |
      {{- include "observe.daemonset.applyNodeLogsMetricsConfig" . | nindent 4 -}}
{{ end -}}
