apiVersion: v2
name: traces
description: DEPRECATED Observe OpenTelemetry trace collection
type: application
version: 1.1.1
deprecated: true
dependencies:
  - name: opentelemetry-collector
    version: 0.146.1
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
  - name: endpoint
    version: 0.1.13
    repository: file://../endpoint
  - name: proxy
    version: 0.1.8
    repository: file://../proxy
    condition: proxy.enabled
