apiVersion: v2
name: traces
description: Observe OpenTelemetry trace collection
type: application
version: 0.1.11
dependencies:
  - name: opentelemetry-collector
    version: 0.61.2
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
  - name: endpoint
    version: 0.1.3
    repository: file://../endpoint
  - name: proxy
    version: 0.1.0
    repository: file://../proxy
    condition: proxy.enabled
maintainers:
  - name: Observe
    email: support@observeinc.com
