observe:
  collectionEndpoint:
    value: "http://test-stack-collector.testing.svc.cluster.local:8080"
  token:
    create: true
    value: "fake-ds:fake-token"

application:
  prometheusScrape:
    enabled: true
    independentDeployment: true
  REDMetrics:
    enabled: true

node:
  forwarder:
    enabled: true
    metrics:
      outputFormat: otel
      convertCumulativeToDelta: true

gatewayDeployment:
  enabled: true
  traceSampling:
    enabled: true

agent:
  config:
    global:
      fleet:
        enabled: true
        interval: 10s
        configInterval: 10m

cluster:
  namespaceOverride:
    value: "testing"

cluster-events:
  namespaceOverride: "testing"
cluster-metrics:
  namespaceOverride: "testing"
forwarder:
  namespaceOverride: "testing"
monitor:
  namespaceOverride: "testing"
node-logs-metrics:
  namespaceOverride: "testing"
prometheus-scraper:
  namespaceOverride: "testing"
gateway:
  namespaceOverride: "testing"
