apiVersion: v2
name: stack
description: Observe Kubernetes agent stack
type: application
version: 0.1.11
dependencies:
  - name: logs
    version: 0.1.5
    repository: file://../internal/logs
    condition: logs.enabled
  - name: metrics
    version: 0.1.5
    repository: file://../internal/metrics
    condition: metrics.enabled
  - name: events
    version: 0.1.9
    repository: file://../internal/events
    condition: events.enabled
