apiVersion: v2
name: stack
description: DEPRECATED Observe Kubernetes agent stack
type: application
version: 1.5.2
deprecated: true
dependencies:
  - name: logs
    version: 0.3.1
    repository: file://../logs
    condition: logs.enabled
  - name: metrics
    version: 0.4.0
    repository: file://../metrics
    condition: metrics.enabled
  - name: events
    version: 0.6.0
    repository: file://../events
    condition: events.enabled
  - name: proxy
    version: 0.1.8
    repository: file://../proxy
    condition: proxy.enabled
  - name: traces
    version: 1.1.0
    repository: file://../traces
    condition: traces.enabled
