apiVersion: v2
name: stack
description: Observe Kubernetes agent stack
type: application
version: 0.4.17
dependencies:
  - name: logs
    version: 0.1.15
    repository: file://../logs
    condition: logs.enabled
  - name: metrics
    version: 0.3.13
    repository: file://../metrics
    condition: metrics.enabled
  - name: events
    version: 0.1.20
    repository: file://../events
    condition: events.enabled
  - name: proxy
    version: 0.1.4
    repository: file://../proxy
    condition: proxy.enabled
  - name: traces
    version: 0.2.11
    repository: file://../traces
    condition: traces.enabled
maintainers:
  - name: Observe
    email: support@observeinc.com
