apiVersion: v2
name: stack
description: Observe Kubernetes agent stack
type: application
version: 0.4.6
dependencies:
  - name: logs
    version: 0.1.12
    repository: file://../logs
    condition: logs.enabled
  - name: metrics
    version: 0.3.6
    repository: file://../metrics
    condition: metrics.enabled
  - name: events
    version: 0.1.18
    repository: file://../events
    condition: events.enabled
  - name: proxy
    version: 0.1.3
    repository: file://../proxy
    condition: proxy.enabled
  - name: traces
    version: 0.2.4
    repository: file://../traces
    condition: traces.enabled
maintainers:
  - name: Observe
    email: support@observeinc.com
