name: pre-commit

on:
  pull_request:
    branches:
      - main

jobs:
  lint-pr-title:
    name: Validate PR titles
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'pull[bot]' }}
    steps:
      - uses: amannn/action-semantic-pull-request@v5.5.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gabe565/setup-helm-docs-action@v1
      - uses: pre-commit/action@v3.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  chart-version-bumps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup updatecli
        uses: updatecli/updatecli-action@v2

      - name: Bump any charts that require it
        run: |
          make updatecli/internal
          git diff > diff.txt
          if [ -s diff.txt ]; then
            echo "Chart version bumps are needed. Please check the PR comments."
            echo "The following chart updates are necessary:" > formatted_diff.txt
            echo "\`\`\`" >> formatted_diff.txt
            cat diff.txt >> formatted_diff.txt
            echo "\`\`\`" >> formatted_diff.txt
            exit 1
          fi
        env:
          UPDATECLI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Comment PR with needed changes
        if: failure()
        uses: thollander/actions-comment-pull-request@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          filePath: ./formatted_diff.txt
          comment_tag: chart-bump-changes
          reactions: eyes
