apiVersion: v2
name: agent
description: Chart to install K8s collection stack based on Observe Agent
type: application
version: 0.74.4
appVersion: "2.10.1"
dependencies:
  - name: opentelemetry-collector
    version: 0.136.1
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    alias: cluster-events
    condition: cluster.events.enabled
  - name: opentelemetry-collector
    version: 0.136.1
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    alias: cluster-metrics
    condition: cluster.metrics.enabled
  - name: opentelemetry-collector
    version: 0.136.1
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    alias: prometheus-scraper
    condition: application.prometheusScrape.independentDeployment
  - name: opentelemetry-collector
    version: 0.136.1
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    alias: node-logs-metrics
    condition: node.enabled
  - name: opentelemetry-collector
    version: 0.136.1
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    alias: monitor
    condition: agent.selfMonitor.enabled
  - name: opentelemetry-collector
    version: 0.136.1
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    alias: forwarder
    condition: node.forwarder.enabled
  - name: opentelemetry-collector
    version: 0.136.1
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    alias: gateway
    condition: gatewayDeployment.enabled
  - name: opentelemetry-operator
    version: 0.93.1
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    alias: fargate-sidecar-injector
    condition: node.fargateMode
maintainers:
  - name: Observe
    email: support@observeinc.com
